<ons-page id="home">

    <p style="text-align: center; margin-top: 10px;">
        <ons-search-input placeholder="Search" onchange="ons.notification.alert('Searched for: ' + this.value)"></ons-search-input>
    </p>
    <ons-carousel swipeable auto-scroll overscrollable id="carousel" style="height: 300px;">
        <ons-carousel-item id="carousel1" style="background: url('images/') no-repeat center; background-size: contain;">
        </ons-carousel-item>
        <ons-carousel-item id="carousel2" style="background: url('images/') no-repeat center; background-size: contain;">
        </ons-carousel-item>
        <ons-carousel-item id="carousel3" style="background: url('images/') no-repeat center; background-size: contain;">
        </ons-carousel-item>
    </ons-carousel>

    <div id="icons"></div>
    
</ons-page>